<mat-toolbar color="primary" class="app-header-toolbar">
    <span class="logo">Bookmarker</span>

    <div class="search-container">
        <mat-form-field appearance="outline" class="search-field">
            <mat-label>Filter bookmarks...</mat-label>
            <input matInput [ngModel]="filter$ | async" (ngModelChange)="onFilterChange($event)" placeholder="Filter by name or URL">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <button mat-button routerLink="/add" aria-label="Add Bookmark" class="header-add-btn">
      <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>